<!doctype html>
<html lang="en-US" dir="ltr">
    <head>
        <style>
            /*body {background-color: aqua;}*/
            #page {background-color: #666;
                    /*min-height: 1748px;*/
                    /*min-width: 1240px;}*/
            }

            p    {color: red;}
            </style>
        <meta charset="utf-8">
        <title>NPC</title>
        <link rel="stylesheet" href="../../templates/style.css">
    </head>
    <body>
        <div id="page" >
            <div>
                <p id="full-name"></p>
                <!--<img id="profile-img" src="" height="40%" width="90%" alt="profile image">-->
                <div class="img" id="profile-img" style="" ></div>
            </div>
            <div>
                <p id="job">Profession: Pilot</p>
                <p id="age">Age: 25</p>
                <p id="friendship">Friendship: Good</p>
            </div>
            <div>
                <div class="img" id="attribute-img" style="" > </div>
                <!--<img id="attribute-img" src="" height="40%" width="90%" alt="attribute values">-->
            </div>
        </div>
    </body>
</html>
