<!doctype html>
<html lang="en-US" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NPC</title>
        <link rel="stylesheet" href="../../templates/style.css">
    </head>
    <body>
        <div id="page" >
            <div>
                <p id="full-name"></p>
                <div class="img" id="profile-img" style="" ></div>
            </div>
            <div id="infos">
                <p class="info-text" id="job">Beruf: Pilot</p>
                <p class="info-text" id="age">Alter: 25</p>
                <p class="info-text" id="friendship">Freundschaft: good</p>
                <p class="info-text" id="traits">Charakterzuege: neugierig, ...</p>
            </div>
            <div>
                <div class="img" id="attribute-img" style="" > </div>
            </div>
        </div>
    </body>
</html>
